name: Code Coverage (unit testing)

on:
  push:
    branches: [main]
    # Remove the line above to run when pushing to master
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Clone this repository
      uses: actions/checkout@master

    - uses: actions/setup-python@master
      with:
        python-version: '3.10' # Version range or exact version of a Python version to use, using SemVer's version range syntax
        architecture: 'x86' # optional x64 or x86. Defaults to x64 if not specified

    - name: Install the requirements for the GUI
      run: |
        py -3.10-32 -m pip install --upgrade pip
        py -3.10-32 -m pip install -r requirements.txt
        py -3.10-32 -m pip install coverage

    - name: Run tests
      run: |
        py -3.10-32 -m coverage run -m unittest discover -s .\tests\ -p 'test_*.py'

#     - name: Coveralls
#       uses: coverallsapp/github-action@master
#       with:
#         github-token: ${{ secrets.GITHUB_TOKEN }}
