---
name: "Pre-release"

on:
  push:
    branches:
      - "main"
  workflow_dispatch:

jobs:
  pre-release:
    name: "Pre Release"
    runs-on: windows-latest

    steps:
    - name: Clone this repository
      uses: actions/checkout@master

    - uses: actions/setup-python@master
      with:
        # Version range or exact version of a Python version to use,
        # using SemVer's version range syntax
        python-version: '3.10'
        # optional x64 or x86. Defaults to x64 if not specified
        architecture: 'x86'

    - name: Install the requirements for the GUI
      run: |
        py -3.10-32 -m pip install --upgrade pip
        py -3.10-32 -m pip install -r requirements.txt

    - name: Install PyInstaller
      run: py -3.10-32 -m pip install --upgrade pyinstaller
      
    - name: Install Coverage for Python
      run: py -3.10-32 -m pip install coverage

    - name: Run unit testing with Coverage
      run: >
        py -3.10-32 -m
        coverage run -m unittest discover -s .\tests\ -p 'test_*.py'

    - name: Build the first package (EEG anonymiser, anonymiser.exe)
      run: >
        py -3.10-32 -m PyInstaller -F --workpath ./build --distpath ./
        --specpath ./ --clean -n anonymiser
        --icon=./ico/fpms_anonymous.ico ./anonymiser.py

    - name: Build the second package (converter, coh3toEDF.exe)
      run: >
        py -3.10-32 -m PyInstaller -F --workpath ./build --distpath ./
        --specpath ./ --clean -n coh3toEDFbatch
        --icon=./ico/fpms.ico ./coh3toEDF.py

    - name: Generate the anonymiser GUI Python script from the .ui file
      run: |
        py -3.10-32 .\ui_to_py_converter.py .\gui_anonymiser_main.ui .\gui_anonymiser_main.py
        py -3.10-32 .\ui_to_py_converter.py .\gui_anonymiser_settings.ui .\gui_anonymiser_settings.py
        py -3.10-32 .\generate_build_information.py

    - name: Build the third package (EEG anonymiser GUI, EEG_anonymiser.exe)
      run: >
        py -3.10-32 -m PyInstaller -F --workpath ./build --distpath ./
        --specpath ./ --clean -n EEG_anonymiser
        --icon=./ico/fpms_anonymous.ico
        --add-data './ico/;ico' .\anonymiser_gui.pyw

    - name: Build the fourth package (dataset maker, dataset_maker.exe)
      run: >
        py -3.10-32 -m PyInstaller -F --workpath ./build --distpath ./
        --specpath ./ --clean -n dataset_maker
        --icon=./ico/fpms.ico ./dataset_maker.py

    - uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "latest_main"
        prerelease: true
        title: "Development Build"
        files: ./*.exe
